<div id="main">
    <div class="row">
        <div class="content-wrapper-before" style="background-color: #424242"></div>

        <div class="col s12">
            <div class="container">
                <div class="section">

                    <!-- card stats start -->
                    <div id="card-stats" class="pt-0">

                        <div class="row">

                            <div class="col s6 m6 l4">
                                <div class="card animate fadeLeft">
                                    <div class="card-content grey darken-1 lighten-1 white-text">
                                        <p class="card-stats-title"><i class="material-icons">group_add</i>
                                            <span data-i18n="Total clientes">Total clientes</span>
                                        </p>
                                        <h4 class="card-stats-number white-text" id="clientesTotal">0</h4>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!--card stats end-->

                    <!--Tabla chats en espera -->
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div id="bordered-table" class="card card card-default scrollspy">
                                <div class="card-content">
                                    <h4 class="card-title"><i class="material-icons">textsms</i> Chats activos</h4>
                                    <div class="row">
                                        <div class="col s12">
                                        </div>
                                        <div class="col s12">
                                            <table class="bordered striped">
                                                <thead style="color: #c5c5c5">
                                                    <tr>
                                                        <th data-i18n="Cliente">Cliente</th>
                                                        <th data-i18n="Fecha Creacion">Fecha Creacion</th>
                                                        <th data-i18n="Primer mensaje entrante">Primer mensaje entrante</th>
                                                        <th data-i18n="Primer mensaje saliente">Primer mensaje saliente</th>
                                                        <th data-i18n="Tiempo activo">Tiempo activo</th>
                                                        <th data-i18n="Acciones">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="bodyChatsEspera">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Tabla chats en espera -->

                    <div class="row" id="tablaOUT">
                    <div class="row d-none">
                        <div class="col s12 m12 l12">
                            <div id="bordered-table" class="card card card-default scrollspy">
                                <div class="card-content">
                                    <h4 class="card-title"><i class="material-icons">person</i> Chats Individuales</h4>
                                    <div class="row">
                                        <div class="col s12">
                                        </div>
                                        <div class="col s12">
                                            <table class="bordered striped">
                                                <thead style="color: #c5c5c5">
                                                    <tr>
                                                        <th data-i18n="Cliente">Cliente</th>
                                                        <th data-i18n="Agente">Agente</th>
                                                        <th data-i18n="Fecha mensaje inicial">Fecha mensaje inicial</th>
                                                        <th class="center" data-i18n="Ultimo mensaje recibido">Ultimo
                                                            mensaje recibido</th>
                                                        <th class="center" data-i18n="Ultimo mensaje enviado">Ultimo
                                                            mensaje enviado</th>
                                                        <th class="center" data-i18n="ASA Cola">ASA Cola</th>
                                                        <th class="center" data-i18n="ASA Agente">ASA Agente</th>
                                                        <th class="center" data-i18n="Tiempo">Tiempo</th>
                                                        <th class="center" data-i18n="Accion">Accion</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="bodyChatsActivos">

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Tabla chats activos -->

                    {{!-- modal verchat --}}
                    <div id="modalVerChat" class="modal modal-fixed-footer">
                        <div class="modal-content">

                            <div class="row">
                                <div class="col s12">
                                    <div class="card">
                                        <div class="card-content">
                                            <div class="row">
                                                <div class="col s12" id="contenedorChat">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="divFooterModalVerChat" class="modal-footer">
                            <input type="text" placeholder="" id="inputEnviarMensajeAgente" class="col s7  ml-2 message mb-0">
                            <a class="col s2 ml-2 btn waves-effect waves-light send center" id="enviarMensajeAsesor"><span data-i18n="Enviar">Enviar</span></a>
                            <a class="col s2 ml-2 modal-action modal-close waves-effect waves-light btn border-round red center" id="cerrarModalVerChat"><span data-i18n="Cerrar">Cerrar</span></a>
                        </div>
                    </div>
                    {{!-- modal verchat --}}

                    {{!-- modal transferir --}}
                    <div id="modalTransferir" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h4 data-i18n="Solicitud de transferencia">Solicitud de transferencia</h4>
                            <div class="row">
                                <div class="input-field col s12">

                                    <input id="MotivoTransferencia" type="tel" class="validate">
                                    <label for="MotivoTransferencia" data-i18n="Motivo transferencia">Motivo
                                        transferencia</label>
                                </div>

                                <div class="input-field col s12">

                                    <select class="select" id="selectModalAvalibleUsers">

                                    </select>

                                    <label for="selectModalAvalibleUsers" data-i18n="Usuarios disponibles">Usuarios
                                        disponibles</label>
                                </div>

                                <div class="input-field col s12">

                                    <input id="ObservacionTransferencia" type="tel" class="validate">
                                    <label for="ObservacionTransferencia" data-i18n="Observaciones">Observaciones</label>
                                </div>

                                <div id="divBtnEnviarTransfer">
                                    <div class="col s12"><a class="waves-effect waves-light btn-small right " id="btnEnviarTransfer"><span data-i18n="Enviar">Enviar</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="modal-action modal-close waves-effect waves-light btn border-round red"><span data-i18n="Cerrar">Cerrar</span></a>
                        </div>
                    </div>
                    {{!-- /modal transferir --}}



                </div>
            </div>
        </div>
    </div>
</div>
<script src='/js/dashboard.js'></script>
{{!--
<script src="/js/scripts/charts-chartjs.js"></script> --}}