<div id="main">
  <div class="row">
    <div class="col s12">
      <div class="container">
        <div class="section section-data-tables">

          <div class="card">
            <div class="card-content">
              <div class="card-title">
                <h4 class="card-title" data-i18n="Reporte interacciones">Reporte interacciones</h4>
                <div class="row">
                  <div class="col s12">
                    <div class="input-field col s12 m3 l3">
                      <input type="text" name="fechaInicial" id="fechaInicial" class="datepicker">
                      <label for="fechaInicial" data-i18n="Fecha inicial">Fecha inicial</label>
                    </div>
                    <div class="input-field col s12 m3 l3">
                      <input type="text" name="fechaFinal" id="fechaFinal" class="datepicker">
                      <label for="fechaFinal" data-i18n="Fecha final">Fecha final</label>
                    </div>

                    <div class="input-field col s12 m3 l3">
                      <a class="waves-effect waves-light btn color-oscuro" id="Buscar"><i
                          class='bx bx-search-alt'></i></a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>


          <!-- Datatable Lista usuarios -->
          <div class="row">
            <div class="col s12">
              <div class="card">
                <div class="card-content">
                  <div class="row">
                    <div class="col s12">
                      <table id="page-length-option" class="display">
                        <thead>
                          <tr>
                            <th>Código</th>
                            <th>Tipo chat</th>
                            <th>Usuario</th>
                            <th>Estado caso</th>
                            <th>Mensaje bot</th>
                            <th>Número comunica</th>
                            <th>Última interacción</th>
                            <th>Tipo canal</th>
                            <th>Hora inicio gestión</th>
                            <th>Fecha registro</th>
                            <th>Fecha modificación</th>
                            <th>Nombre comunica</th>
                            <th>Tipo</th>
                            <th>Último enviado</th>
                            <th>Último recibido</th>
                            <th>Fecha asignación</th>
                            <th>Fecha paso a asesor</th>
                            <th>Estado</th>
                          </tr>
                        </thead>
                        <tbody id="bodyListaInteracciones"></tbody>
                        <tfoot>
                          <tr>
                            <th>Código</th>
                            <th>Tipo chat</th>
                            <th>Usuario</th>
                            <th>Estado caso</th>
                            <th>Mensaje bot</th>
                            <th>Número comunica</th>
                            <th>Última interacción</th>
                            <th>Tipo canal</th>
                            <th>Hora inicio gestión</th>
                            <th>Fecha registro</th>
                            <th>Fecha modificación</th>
                            <th>Nombre comunica</th>
                            <th>Tipo</th>
                            <th>Último enviado</th>
                            <th>Último recibido</th>
                            <th>Fecha asignación</th>
                            <th>Fecha paso a asesor</th>
                            <th>Estado</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- FIN Datatable Lista usuarios -->

          <!-- Modal Structure -->
          <div id="modalVerChat" class="modal modal-fixed-footer">
            <div class="modal-content">
    
              <div class="row">
                <div class="col s12">
                  <div class="card">
                    <div class="card-content">
                      <div class="row">
                        <div class="col s12" id="contenedorChat">

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <a href="#" class="waves-effect waves-light btn border-round color-oscuro ml-4 left" id="descargarChat" data-i18n="Descargar">Descargar</a>
              <a href="#" class="modal-action modal-close waevs-effect waves-green btn-flat ">Close</a>
            </div>
          </div>
          <!-- Modal Structure -->

        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/reporteGestiones.js"></script>