<div id='main'>
     <div>
      <h3 style="text-align: center;" id ="estadoQR"></h3>
    </div>
  <div class='containerQR'>
 
    <div class='boxPadre'>

      <div class='box'>
        <canvas id='divQR'></canvas>
        <img class="displayNone" id="imgQRConectado" src="/img/undraw_accept_terms_re_lj38.svg" alt="Img">
      </div>
      <div class='circle1'></div>
      <div class='circle2'></div>
    </div>
  </div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js'></script>
<script src='/js/viewQR.js'></script>