<!-- BEGIN: Footer-->
  <footer class="page-footer footer footer-static footer-light navbar-border navbar-shadow gradient-45deg-blue-grey-blue-grey">    
    <div class="footer-copyright">    
      <div class="container"> 
        <span class="right hide-on-small-only">Developed by <a class="black-text">Brayan Yanez</a></span>
        <span class="left hide-on-small-only"><img style="width: 30px;" src="\img\icons8-whatsapp.svg" alt="footer" /></span>
        <span><center>&copy; 2025 <a class="black-text" target="_blank"></a> All rights reserved.</center></span>
      </div>
    </div>
  </footer>
  <!-- END: Footer-->