
<div class="background">
    <div class="container-login center">        
        
        <div class="mitad login">
            <div class="centered">
                <form action="/login" method="POST">
                    <img class="avatar" src="/images/logo/dashboard.webp" alt="Avatar" />

                    <h5><strong>Sistema de Atención Automatizada por WhatsApp para la Empresa ABC</strong></h5>

                    <div class="input-div one">
                        <i class="material-icons prefix pt-2">person_outline</i>
                        <label for="username" class="center-align">Username</label>
                        <div>
                        <input class='input' id="username" type="text" name="username" autocomplete="off" autofocus>
                        </div>
                        
                    </div>

                    <div class="input-div two">
                        <i class="material-icons prefix pt-2">lock_outline</i>
                        <label for="password" class="center-align">Password</label>
                        <div>
                        <input class='input' id="password" type="password" name="password" autocomplete="off" autofocus>
                        </div>
                        
                        <div id='hideShowPassWord' class='hideShowPassWord'>
                            <i class='bx bx-show-alt'></i>
                        </div>
                    </div>
                    <a href="#"></a>
                    <center><input type="submit" class="btn" value="Login" /></center>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="/js/login.js"></script>